.dalmoth{
    border-radius: 0px 10px 10px 0px;
}

.abc{
    display: flex;
    background: rgb(236, 236, 248);
    padding: 20px 0px 20px 0px;
}

.new-project{
    margin-right: 5%;
}

.new-b{
    margin-top: 10px;
    background: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    border-width: 0px;
    box-shadow: 5px 5px 20px rgb(214, 214, 245);
}

div.p2{
    text-align: center;
}

.im{
    display: flex;
    justify-content: space-around;
    margin: 20px 10% 10px 10%;
}

.Trust{
    text-align: center;
}

.Trust h1{
    margin-bottom: 20px;
}

.ap{
    background: rgb(236, 236, 248);
    padding: 20px 20px;
}

.a1{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.a1 img{
    border-radius: 200px;
}

.tech, .login{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px 10px;
}

.line1{
    display: flex;
}

.imag{
    margin: 10px 10px;
    border-radius: 10px;
}

.techp{
    margin-left: 260px;
}

.techh1{
    text-align: end;
}

.connect{
    margin-left: 130px;
}

.login{
    background: rgb(236, 236, 248);
}

input{
    width: 300px;
    height: 30px;
    border: 1px;
}

.form{
    margin-top: 35px;
}

div.inside{
    margin-top: 20px;
}

input[type="submit"]{
	background: blue;
	color: white;
	border-radius: 5px;
}

input[type="text"], input[type="Password"]{
	border: none;
	background: rgb(247, 247, 243);
    box-shadow: 5px 5px 20px rgb(214, 214, 245);
    border-radius: 3px;
}

.newsletter{
    background: darkblue;
}

.news{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

div.news1 input[type="text"]{
    width: 400px;
    height: 50px;
	border-radius: 5px 0px 0px 5px;
    box-shadow: 5px 5px 20px rgb(41, 41, 211);
}

div.news1 input[type="submit"]{
    width: 100px;
    height: 50px;
	background: blue;
	color: white;
	border-radius: 0px 5px 5px 0px;
}

.subscribe{
    display: flex;
    margin-top: 20px;
}

.white{
    color: white;
}

.list{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 30px;
}

ul.end li{
    list-style-type: none;
    margin-bottom: 5px;
}

ul.end li a{
    text-decoration: none;
    color: white;
}

ul.end li:first-child{
    font-size: 30px;
    margin-bottom: 10px;
}





